#chart_div {
	 width: 500px; 
	 height: 500px;
	 display: inline-block;
}

input{
	width: 50px;
}

.form-div {
	width: 500px; 
	height: 500px;
	display: inline-block;
	vertical-align: top;
	padding-top: 10px;
	overflow-y: scroll;
	max-width: 250px;
}